@model EntityLayer.Entities.Customer
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Müşteri Düzelt</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post" action="Create">
        <div class="card-body">
            <input type="hidden" asp-for="@Model.CustomerId" />
            <div class="form-group">
                <label for="exampleInputEmail1">Müşteri Adı</label>
                <input type="text" asp-for="@Model.CustomerName" class="form-control" id="exampleInputEmail1" placeholder="Müşteri Adını Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Müşteri Soyadı</label>
                <input type="text" asp-for="@Model.CustomerSurname" class="form-control" id="exampleInputEmail1" placeholder="Müşteri Soyadını Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Mail</label>
                <input type="text" asp-for="@Model.CustomerEmail" class="form-control" id="exampleInputEmail1" placeholder="Mail Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Şifre</label>
                <input type="text" asp-for="@Model.Password" class="form-control" id="exampleInputEmail1" placeholder="Şifre Girin">
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Düzelt</button>
        </div>
     </form>
</div>
