@model EntityLayer.Entities.Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ürün Düzelt</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post" action="Create">
        <div class="card-body">
            <input type="hidden" asp-for="@Model.ProductId" />
            <div class="form-group">
                <label for="exampleInputEmail1">Üürn Resmi</label>
                <input type="file" asp-for="ResimYukle" class="form-control" id="exampleInputEmail1" placeholder=" Resm Ekleyin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Ürün Adı</label>
                <input type="text" asp-for="@Model.ProductName" class="form-control" id="exampleInputEmail1" placeholder="ürün Adını Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Açıklama</label>
                <input type="text" asp-for="@Model.ProductDescription" class="form-control" id="exampleInputEmail1" placeholder="Açıklama Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Marka</label>
                <input type="text" asp-for="@Model.ProductBrand" class="form-control" id="exampleInputEmail1" placeholder="Marka Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fiyat</label>
                <input type="text" asp-for="@Model.Price" class="form-control" id="exampleInputEmail1" placeholder="Fiyat Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Stok</label>
                <input type="text" asp-for="@Model.Stock" class="form-control" id="exampleInputEmail1" placeholder="Stok Girin">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Kategory</label><br />
                <select asp-for="@Model.CategoryId" asp-items="@ViewData["Ctglist"] as IEnumerable<SelectListItem>" class="from-select-lg"></select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Firma</label><br />
                <select asp-for="@Model.CompanyId" asp-items="@ViewData["Comlist"] as IEnumerable<SelectListItem>" class="from-select-lg"></select>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Düzelt</button>
        </div>
     </form>
</div>
